@import "./../../shared/styles/variables";

.form {
	display: flex;
	flex-direction: column;
	gap: 40px;

	* {
		font-family: $font-family;
	}

	.header {
		color: $text-color;
		font-size: 4vmin;
	}

	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 24px;
		// padding-left: 120px;
		// padding-right: 120px;

		.input_block {
			position: relative;
			display: flex;
			justify-content: center;
			margin: 0 auto;
			width: 100%;
			max-width: calc(100% - 320px);

			input {
				display: flex;
				background: transparent;
				color: $text-color;
				border: none;
				border-bottom: 1px solid $border-color;
				width: 100%;
				min-height: 40px;
				padding: 8px 16px;

				&:focus {
					border: none;
					outline: none;
					border-bottom: 2px solid #ffffff;
				}
			}

			::placeholder {
				color: rgba($text-color, 0.7);
				opacity: 1;
			}

			:-ms-input-placeholder {
				color: rgba($text-color, 0.7);
			}

			::-ms-input-placeholder {
				color: rgba($text-color, 0.7);
			}

			.visibility {
				cursor: pointer;
				position: absolute;
				right: 8px;
				top: 7px;
				background: transparent;
				border: none;
				outline: none;
				color: $text-color;
				font-weight: 800;
			}
		}

		.button_block {
			position: relative;
			display: flex;
			justify-content: center;

			button {
				transition: 0.2s all;
				outline: 0;
				background: hsla(237, 42%, 44%, 0.9);
				border: none;
				box-shadow: 0 0 35px rgba(95, 92, 241, 0.5);
				cursor: pointer;
				color: $text-color;
				font-size: 18px;
				border-radius: 4px;
				max-width: 320px;
				width: 100%;
				min-height: 42px;
				height: 100%;

				&:hover {
					box-shadow: 0 0 50px rgba(49, 47, 172, 0.5);
				}
			}
		}

		.secondary {
			button {
				box-shadow: none;
				background: transparent;
				border: 1px solid $border-color;
				transition: 0.3s all;

				&:hover {
					box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
				}
			}
		}

		.link_block {
			z-index: 5;
			text-align: center !important;
			margin: 0 auto;
			margin-bottom: 80px !important;
			div {
				display: flex;
				text-align: center !important;
				gap: 8px;
				font-size: 16px;
				font-weight: 400;
				color: $text-color;

				span {
					transition: 0.3s all;
					color: #9899e7;
					cursor: pointer;
					&:hover {
						color: #6365f1;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1400px) {
	.input_block {
		max-width: calc(100% - 180px) !important;
	}
}

@media screen and (max-width: 920px) {
	.content {
		width: 100%;
	}
	.helper {
		display: none;
	}
	.form {
		width: 100% !important;
		margin-left: 0px !important;

		form {
			width: 100% !important;
			max-width: 100% !important;

			.button_block {
				width: 100%;
				button {
					max-width: 900px !important;
					margin: 0 30px;
				}
			}

			.visibility {
				right: 30px !important;
				z-index: 30 !important;
			}

			.input_block {
				width: 100% !important;
				padding: 0 20px;
				max-width: calc(100% - 50px) !important;

				input {
					width: 100% !important;
					max-width: 100% !important;
				}
			}
		}
	}
	.header {
		text-align: center;
		font-size: 7vmin !important;
	}

	footer {
		.copyright {
			text-align: center;
			font-size: 16px !important;
		}
	}

	.link_block {
		display: flex;
		justify-content: center;
	}
}
